*
{
	margin: 0px;
	padding: 0px;
}
a,a:hover
{
	text-decoration: none!important;
}

.header
{

	background-color: #144d51;
	line-height: 70px;
	padding-left: 30px;
	font-color:white;
	width: 100%;
	position: fixed;
}

.logout
{
	float: right;
	padding-right: 30px;
}
ul
{
	background-color: #424a5b;
	width: 12%;
	height: 100%;
	position: fixed;
	padding-top: 1%;
	text-align: left;
}

ul li
{
	list-style: none;
	padding-bottom: 15px;
	font-size: 15px;
}
ul li a
{
	color: white;
	font-weight: bold;
}

ul li a:hover
{
	color: skyblue;
	text-decoration: none;
}